<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Galeria</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <!-- Slideshow container -->
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <img src="{{ getSlide() }}" alt="slide" style="width: 100%; height: 400px;"  />
                        <a>TExto</a>
                    </div>
                    
                    <button (click)="getPrev()">Prev</button>
                    
                    <button (click)="getNext()">Next</button>
                    </div>
                <br>

            </section>
            <section>
                <!-- <p-galleria
                    [(value)]="images"
                    [(visible)]="displayCustom"
                    [(activeIndex)]="activeIndex"
                    [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '850px' }"
                    [numVisible]="7"
                    [circular]="true"
                    [fullScreen]="true"
                    [showItemNavigators]="true"
                    [showThumbnails]="false"
                >
                    <ng-template #item let-item>
                        <img [src]="item.src" style="width: 100%; display: block;" />
                    </ng-template>
                </p-galleria> -->
            </section>
        </div>
    </div>
</div>