<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Galeria</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <!-- Slideshow container -->
                <p-carousel [value]="images()" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
                    <ng-template let-product #item>
                        <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
                            <div class="mb-4">
                                <div class="relative mx-auto">
                                    <img src="{{ product.itemImageSrc }}" [alt]="product.title" style="max-width: 100%; height: 500px;" class="w-full rounded" />
                                </div>
                            </div>
                            <div class="mb-4 font-medium">{{ product.title }}</div>
                        </div>
                    </ng-template>
                </p-carousel>
                <br>

            </section>
            <section>
                <div class="card flex justify-center">
                    <div *ngIf="images() && images().length > 0" class="grid grid-cols-12 gap-4" style="max-width: 300px; max-width: 300px;">
                        <div *ngFor="let image of this.images(); index as i" class="col-span-4" key="i">
                            <img [src]="image.thumbnailImageSrc" [alt]="image.alt" width="150" height="150" style="cursor: pointer" (click)="imageClick(i)" />
                        </div>
                    </div>
                    <p-galleria
                        (value)="this.images()"
                        (visible)="displayCustom"
                        (activeIndex)="activeIndex"
                        [responsiveOptions]="responsiveOptions2"
                        [containerStyle]="{ 'max-width': '350px', 'max-height': '350px' }"
                        [numVisible]="4"
                        [circular]="true"
                        [fullScreen]="true"
                        [showItemNavigators]="true"
                        [showThumbnails]="false"
                    >
                        <ng-template #item let-item>
                            <img [src]="item.itemImageSrc" style="width: 100%; display: block;"/>
                        </ng-template>
                    </p-galleria>
                </div>
                <!-- <p-galleria
                    [(value)]="images"
                    [(visible)]="displayCustom"
                    [(activeIndex)]="activeIndex"
                    [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '850px' }"
                    [numVisible]="7"
                    [circular]="true"
                    [fullScreen]="true"
                    [showItemNavigators]="true"
                    [showThumbnails]="false"
                >
                    <ng-template #item let-item>
                        <img [src]="item.src" style="width: 100%; display: block;" />
                    </ng-template>
                </p-galleria> -->
            </section>
        </div>
    </div>
</div>