<div class="container px-5 my-5">
<!-- About Section-->
<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Para mas informacion</span></h2>
                    <p class="text-muted">Correo: asdasdasdasd</p>
                    <p class="text-muted">Telefonos: asdasdasdasd</p>
                    <p class="text-muted">Horario de atencion: L-V 08:00-18:00</p>
                </div>
            </div>
        </div>
        
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/> 
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <h2 class="text-secondary fw-bolder mb-4">Ubicacion</h2>
                <div class="center" id="map" ></div>
            </div>
            <div class="col-xxl-4">
                <h2 class="text-secondary fw-bolder mb-4">Misas</h2>
                <div class="text-center my-5">
                    <p class="lead fw-light mb-4">Lunes - Sabado : </p>
                    <p class="text-muted">08:00 - 09:00</p>
                    <p class="text-muted">10:00 - 11:00</p>
                    <p class="text-muted">12:00 - 13:00</p>
                    <p class="text-muted">16:00 - 17:00</p>
                    <p class="lead fw-light mb-4">Domingos : </p>
                    <p class="text-muted">08:00 - 09:00</p>
                    <p class="text-muted">10:00 - 11:00</p>
                    <p class="text-muted">12:00 - 13:00</p>
                    <p class="text-muted">16:00 - 17:00</p>
                    <p class="text-muted">18:00 - 19:00</p>
                </div>
            </div>
        </div>

    </div>
    </section>
</div>
<section>
</section>